@model VisualAnalytics.Models.Consuption

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Consuption</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayOffset, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayOffset)
                @Html.ValidationMessageFor(model => model.DayOffset)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeasurementSequence, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeasurementSequence)
                @Html.ValidationMessageFor(model => model.MeasurementSequence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MeasurementTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MeasurementTime)
                @Html.ValidationMessageFor(model => model.MeasurementTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IDDate)
                @Html.ValidationMessageFor(model => model.IDDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDConsuptionPlace, "IDConsuptionPlace", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IDConsuptionPlace", String.Empty)
                @Html.ValidationMessageFor(model => model.IDConsuptionPlace)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
